footer {

    border-top: 1px dotted rgb(129, 129, 129);

        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-top: 40px;
        padding: 20px;
        text-align: center;


        
        

}
.foot-nav{

    display: block;
    
}