// Data Table styles 
table {
    width: 100%;
    border: 1px solid black;

    th, td {
        text-align: center;
        padding: 10px;
        border: 1px solid black;
    }
    tr > td{
        text-align: left;
    }

    // @media (max-width: $phoneLandscape) {
    //     th, td {
    //         text-align: left;
    //     }
        
    //     tbody {
    //         tr {
    //             &:nth-child(even){
    //                 background-color: lightblue;
    //             }
    //             &:nth-child(odd){
    //                 background-color: pink;
    //             }
    //         }
    //         td {
    //             display: block;
    //             &:before {
    //                 content: attr(data-th) ": ";
    //                 display: inline-block;
    //                 margin-right: 10px;
    //                 font-weight: bold;
    //             }
    //             @at-root .dt tbody tr td:nth-child(1n){
    //                 background-color: transparent;
    //                 color: black;
    //                 &:hover {
    //                     background-color: rgba(white, 0.5);
    //                     color: black;
    //                 }
    //             }
    //         }    
    //     }

    //     th {
    //         display: none;
    //     }
          
    // }

}