@charset "utf-8";

@import 'reset';

@import 'body';
@import 'wrapper';
@import 'header';
@import 'nav';
@import 'main';
@import 'footer';
@import 'table';
@import 'forms';
@import 'button';
@import 'contact-massage';


h1,h2,h3{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

p, a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.4em;
    font-size: 18px;
}





















